:root {
  --accent-color: rgb(0, 87, 183);
  --secondary-color: rgba(255, 215, 0, 0.5);
  --hover-transition: 0.7s;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --opacity: 85%;
}

body {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 60px;
  margin: 10px 0px;
  color: var(--accent-color);
}

h2 {
  font-size: 35px;
  margin: 30px auto;
}

h3 {
  font-size: 25px;
  margin: 10px auto;
}

h4 {
  font-size: 20px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  color: white;
  display: inline-block;
  padding: 10px 15px;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.container {
  margin: auto;
}

/* utility classes */
.button-text {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.radiused {
  border-radius: 5px;
}

.shadow {
  box-shadow: var(--box-shadow);
}

.paddings {
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.accent-colored {
  color: var(--accent-color);
}

.opacity {
  opacity: var(--opacity);
}

/* homepage */

.name-heading {
  margin-bottom: 35px;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--accent-color);
  margin: 30px;
  border: solid 1px var(--accent-color);
  border-radius: 5px;
  padding: 15px;
  box-shadow: var(--box-shadow);
}

.button:hover {
  color: var(--accent-color);
  transition: var(--hover-transition);
  background-color: var(--secondary-color);
}

.portfolio-index-image {
  width: 100%;
  height: auto;
}

.portfolio-text {
  text-align: justify;
}

.project-block {
  box-shadow: var(--box-shadow);
  margin: 10px;
  padding: 10px;
}

/* about */

.aboutme-container {
  margin: 30px auto;
}

.about-me-heading {
  margin: 70px 0 30px;
}

.text-container {
  width: 60%;
  margin: auto;
}

.portfolio-about-image {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

#contactme {
  margin: auto;
  margin-top: 30px;
}

.contact-me-heading {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: 60px;
}

.contact-link {
  color: black;
  display: inline;
}
