:root {
  --accent-color: rgb(0, 87, 183);
  --secondary-color: rgba(255, 215, 0, 0.5);
  --hover-transition: 0.7s;
}

body {
  text-align: center;
  margin: 50px auto;
}

h1 {
  font-size: 50px;
  margin: 10px 0px;
  color: var(--accent-color);
}

h2 {
  font-size: 35px;
  margin: 50px auto;
}

h3 {
  font-size: 25px;
  margin: 10px auto;
}

h4 {
  font-size: 20px;
  margin: 0px;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

a:hover {
  color: var(--accent-color);
  transition: var(--hover-transition);
}

li {
  list-style: none;
}

/* homepage */

.name-heading {
  margin-bottom: 35px;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button {
  margin: 30px;
  border: solid 1px var(--accent-color);
  border-radius: 5px;
  box-shadow: 0px 3px 7px 3px var(--accent-color);
}

.button:hover {
  transition: var(--hover-transition);
  background-color: var(--secondary-color);
}

.portfolio-index-image {
  width: 100%;
  height: auto;
}

/* about */

.aboutme-container {
  margin: 30px auto;
}

.about-me-heading {
  margin: 70px 0 30px;
}
.text-container {
  display: flex;
  margin-bottom: 70px;
}
.text {
  text-align: justify;
  margin: 15px;
  background-color: var(--secondary-color);
  padding: 10px;
}

.contact-me-heading {
  color: var(--accent-color);
  font-size: 40px;
}
